<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307416559661-gl7qi5c3aergh4p3j13lcd3ft5jfmi9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307416559661-gl7qi5c3aergh4p3j13lcd3ft5jfmi9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCDirgu59hubsIiOKMfiSORoPEE-98-nPI</string>
	<key>GCM_SENDER_ID</key>
	<string>307416559661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-f612a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-f612a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307416559661:ios:fa492e36081885fd4488a4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-f612a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>